/*body {*/
    /*!*background-image: url("static/images/order.jpg");*!*/
    /*-webkit-background-size: 200%;*/
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    /*color: #564AA6;*/
/*}*/

/*table {*/
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    /*font-size: 14px;*/
    /*max-width: 60%;*/
    /*width: 40%;*/
    /*border-collapse: collapse;*/
    /*text-align: left;*/
/*}*/

/*th {*/
    /*font-weight: normal;*/
    /*color: #039;*/
    /*border-bottom: 2px solid #6678b1;*/
    /*padding: 10px 8px;*/
/*}*/

/*td, p {*/
    /*color: #669;*/
    /*padding: 9px 8px;*/
    /*transition: .3s linear;*/
/*}*/

/*tr:hover td {*/
    /*color: #564AA6;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #564AA6;
    text-align: center !important;
}
